/*
Id: #
class: .
*/

body {
  display: flex; 
}

.Title {
  color: \red;
  padding:10px;
}

#homepage {
  display: flex;
  justify-content: center;
  align-content: center;
  
}

#vsAI {
  display:none;
}

#vsPlayer {
  display: none;
}


